.callout[data-callout="einstieg"] {
    --callout-color: 133, 189, 234;
    --callout-icon: lucide-message-circle-question;
}


.callout[data-callout="gelenk"] {
    --callout-color: 148, 203, 103;
    --callout-icon: lucide-split;
}

.callout[data-callout="erarbeitung"] {
    --callout-color: 249, 119, 151;
    --callout-icon: lucide-biceps-flexed;
}


.callout[data-callout="sicherung"] {
    --callout-color: 253, 194, 33;
    --callout-icon: lucide-pencil-line;
}


.callout[data-callout="vertiefung"] {
    --callout-color: 200, 165, 202;
    --callout-icon: lucide-brain;
}

.callout[data-callout="puffer"] {
    --callout-color: 154, 209, 254;
    --callout-icon: lucide-history;
}

.callout[data-callout="hausaufgabe"] {
    --callout-color: 247, 152, 36;
    --callout-icon: lucide-book-marked;
}


.callout[data-callout="lösung"] {
    --callout-color: 236, 184, 131;
    --callout-icon: lucide-captions;

}

.callout[data-callout="lösung_blau"] {
    --callout-color: 154, 209, 254;
    --callout-icon: lucide-captions;

}

.callout[data-callout="lösung_gelb"] {
    --callout-color: 253, 194, 33;
    --callout-icon: lucide-captions;

}

.callout[data-callout="lösung_lila"] {
    --callout-color: 200, 165, 202;
    --callout-icon: lucide-captions;

}

.callout[data-callout="leer"] {
  text-align: center;
    --callout-color: 207, 192, 181;
    --callout-icon: none;
}


.callout[data-callout="leer_lila"] {
  text-align: center;
    --callout-color: 213, 174, 197;
    --callout-icon: none;
}

.callout[data-callout="leer_blau"] {
  text-align: center;
    --callout-color: 164, 193, 223;
    --callout-icon: none;
}


.callout[data-callout="leer_grün"] {
  text-align: center;
    --callout-color: 153, 214, 196;
    --callout-icon: none;
}

.callout[data-callout="start_journal"] {
    --callout-color: 213, 174, 197;
    --callout-icon: book-heart;
}

.callout[data-callout="start_schule"] {
    --callout-color: 253, 211, 135;
    --callout-icon: graduation-cap;
}

.callout[data-callout="start_privat"] {
    --callout-color: 136, 180, 231;
    --callout-icon: message-circle-heart;
}

.callout[data-callout="start_essen"] {
    --callout-color: 248, 186, 160;
    --callout-icon: hand-platter;
}

.callout[data-callout="start_system"] {
    --callout-color: 255, 173, 194;
    --callout-icon: file-sliders;
}

.callout[data-callout="daily"] {
    --callout-color: 207, 192, 181;
    --callout-icon: none;
    color: #8B4168;
    text-align: center;
}

/*Titel zentrieren */
.callout[data-callout="daily"] .callout-title {
    justify-content: center;
}

.callout[data-callout="header"] {
    --callout-color: 207, 192, 181;
    --callout-icon: none;
    color: #8B4168;
    text-align: center;
}

/*Titel zentrieren */
.callout[data-callout="header"] .callout-title {
    justify-content: center;
}

.callout[data-callout="video"] {
    --callout-color: 153, 142, 163;
    --callout-icon: monitor-play;
}

.callout[data-callout="privat"] {
    --callout-color: 75, 41, 107;
    --callout-icon: message-square-heart;
}

.callout[data-callout="schule"] {
    --callout-color: 227, 99, 151;
    --callout-icon: school;
}

.callout[data-callout="kochen"] {
    --callout-color: 1, 111, 185;
    --callout-icon: hand-platter;
}

.callout[data-callout="system"] {
    --callout-color: 82, 122, 95;
    --callout-icon: settings;
}


.callout[data-callout="information"] {
    --callout-color: 227, 99, 151;
    --callout-icon: info;
}

.callout[data-callout="fazit"] {
    --callout-color: 82, 122, 95;
    --callout-icon: notebook-pen;
}

.callout[data-callout="bild"] {
    --callout-color: 1, 111, 185;
    --callout-icon: image;
}


.callout[data-callout="foto"] {
    --callout-color: 1, 111, 185;
    --callout-icon: image;
}


.callout[data-callout="highlight_g"] {
    --callout-color: 247, 152, 36;
    --callout-icon: sparkles;
}


.callout[data-callout="goal_g"] {
    --callout-color: 247, 152, 36;
    --callout-icon: target;
}


.callout[data-callout="leistung_g"] {
    --callout-color: 247, 152, 36;
    --callout-icon: biceps-flexed;
}


.callout[data-callout="reflexion_g"] {
    --callout-color: 247, 152, 36;
    --callout-icon: brain;
}


.callout[data-callout="tracker_g"] {
    text-align: center;
    --callout-color: 247, 152, 36;
    --callout-icon: list-check;
}

.callout[data-callout="highlight_b"] {
    --callout-color: 133, 189, 234;
    --callout-icon: sparkles;
}


.callout[data-callout="goal_b"] {
    --callout-color: 133, 189, 234;
    --callout-icon: target;
}


.callout[data-callout="leistung_b"] {
    --callout-color: 133, 189, 234;
    --callout-icon: biceps-flexed;
}


.callout[data-callout="reflexion_b"] {
    --callout-color: 133, 189, 234;
    --callout-icon: brain;
}


.callout[data-callout="tracker_b"] {
    text-align: center;
    --callout-color: 133, 189, 234;
    --callout-icon: list-check;
}

.callout[data-callout="highlight_gr"] {
    --callout-color: 148, 203, 103;
    --callout-icon: sparkles;
}


.callout[data-callout="goal_gr"] {
    --callout-color: 148, 203, 103;
    --callout-icon: target;
}


.callout[data-callout="leistung_gr"] {
    --callout-color: 148, 203, 103;
    --callout-icon: biceps-flexed;
}


.callout[data-callout="reflexion_gr"] {
    --callout-color: 148, 203, 103;
    --callout-icon: brain;
}


.callout[data-callout="tracker_gr"] {
    text-align: center;
    --callout-color: 148, 203, 103;
    --callout-icon: list-check;
}


.callout[data-callout="übersicht_g"] {
    text-align: center;
    --callout-color: 247, 152, 36;
    --callout-icon: telescope;
}